body {
  font-family: sans-serif;
  margin: 0;
}

a,
a:visited {
  color: #333333;
}

.botanixxx-main {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 10px;
  max-width: 800px;
  min-width: 240px;
  width: 100%;
}

.content-section {
  display: flex;
  flex-grow: 1;
  margin-top: 15px;
  min-height: 600px;
}

.botanixxx-title {
  color: #333333;
}

.visit-store-logo-and-text {
  background-image: url('./logo_translucent_25.jpg');
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  flex-grow: 1;
  justify-content: center;
  min-height: 250px;
  min-width: 250px;
  width: 100%;
}

.calendly-inline-widget {
  min-width: 250px;
  height: 1000px;
}
